<% layout("/layouts/boilerplate") %>

<h2 class="mt-5"> LIST OF USERS: </h2>

<table id="myTable" class="table table-striped mt-4">
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Username</th>
            <th>Email</th>
            <th>No. of Projects</th>
            <th>Link to Projects</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach((user, index) => { %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td><%= user.projects.length %></td>
                <td><a href="/admin/users/<%= user._id %>/projects"><b>Check Projects</b></a></td>
                <td>
                    <form method="POST" action="/admin/delete-user/<%= user._id %>?_method=DELETE" style="display: inline;">
                        <button type="submit" class="btn btn-link" style="padding: 0; color: rgb(49, 47, 47);">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>