<% layout("/layouts/boilerplate") %>

<style>
    @media (max-width:768px) {
        .show-page {
            width: 250px;
            transform: scale(1.5);
            margin-top: 200px;
        }
        .big-img {
            width: 35vh;
            height: 35vh;
            margin-top: 1.5rem;
            margin-right: 20px;
        }
        .project-detail {
            margin-left: 220px;
            margin-top: 25px;
            width: 300px;
        }
        h1 {
            width: 300px;
            display: flex;
        }
    }
</style>

<div class="row show-page">
    <div class="col-5 mt-4">
        <h1>Project Details:</h1>
            <img src="<%= idProject.img.url %>" class="big-img" alt="project_img">
    </div>
    <div class="col-7 project-detail">
        <h2> <b>PROJECT NAME: </b> <%= idProject.projectName %> </h2>
        <br><br>
        <div class="mb-3">
            <h5 style="display:inline"><b>Checkout GitHub Repository: </b></h5>
            <a href="<%= idProject.repoLink %>" target="_blank" rel="noopener noreferrer" class="link" style="font-size: larger;"> Click here </a>
        </div>
        <div class="mb-5">
            <h5 style="display:inline"><b>View the Project Live at: </b></h5>
            <a href="<%= idProject.hostLink %>" target="_blank" rel="noopener noreferrer" class="link" style="font-size: larger;"> Live </a>
        </div>
        <% if (user && user.type === 'Admin') { %>
            <div class="btns">
                <a href="/admin/users/<%= id %>/projects/<%= idProject._id %>/edit" class="btn btn-dark edit-btn">Edit</a>
                <form method="POST" action="/projects/<%= idProject._id %>?_method=DELETE">
                    <button class="btn btn-dark del-btn">Delete</button>
                </form>
            </div>
        <% } else if (user && user.type === 'Student') { %>
            <div class="btns">
                <a href="/projects/<%= idProject._id %>/edit" class="btn btn-dark edit-btn">Edit</a>
                <form method="POST" action="/projects/<%= idProject._id %>?_method=DELETE">
                    <button class="btn btn-dark del-btn">Delete</button>
                </form>
            </div>
        <% } %>
    
    </div>
</div>